body {
    background-color: #000033;
    background-image: url("images/blue-y2k.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
}

/* MySpace table styling */
table,
tr,
td {
    background: transparent;
    border: 0;
}

table table {
    border: 0;
}

table table table table {
    border: 0;
}

table table table {
    background-color: #000099;
}
