body {
    background-color: #000033;
    background-image: url("https://t4.ftcdn.net/jpg/02/00/99/09/360_F_200990953_ZUQhJDEQGCmJ10H9mLq8XjEckDQQjau9.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
}

/* MySpace table styling */
table,
tr,
td {
    background: transparent;
    border: 0;
}

table table {
    border: 0;
}

table table table table {
    border: 0;
}

table table table {
    background-color: #000099;
}
